<div class="games-card">
  <mat-card class="card">
    <mat-card-header class="header-card">
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title class="card-title">{{game.type}}</mat-card-title>
    </mat-card-header>
    <img mat-card-image class="card-image" src={{game.img}} alt="Photo of a Game">
  </mat-card>
</div>



<div class="button" (click)="addCoins(250)">
  <div class="example-button-container">
    <button mat-fab color="accent" aria-label="Example icon button with a bookmark icon">
      COINS
    </button>
  </div>
</div>